[workspace]
members = ["programs/*"]
resolver = "2"

[workspace.dependencies]
constant_time_eq = "=0.3.0"
blake3 = "=1.5.4"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1
